<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar producto</title>
    <link rel="stylesheet" href="../stylesheets/style.css">
</head>
<body>

    <form action="/edit/" method="post">
        <input type="hidden" value="<%= producto.id %>" name="id">
        <label for="code">C贸digo</label>
        <input type="text" name="code" value="<%= producto.code %>"
        placeholder="C贸digo del Producto" required>
        <label for="name">Nombre</label>
        <input type="text" name="name" value="<%= producto.name %>"
        placeholder="Nombre del Producto" required>
        <label for="power">Marca</label>
        <input type="number" name="power" value="<%= producto.power %>"
        placeholder="Marca del Producto" required>
        <label for="model">Modelo</label>
        <input type="text" name="model" value="<%= producto.model %>"
        placeholder="Modelo del Producto" required>
        <label for="description">Descripci贸n</label>
        <textarea name="description" 
        placeholder="Descripci贸n del Producto" required><%= producto.description %></textarea>
        <label for="price">Precio</label>
        <input type="number" name="price" value="<%= producto.price %>"
        placeholder="Precio del Producto" required>
        <input type="submit" value="Editar">


    </form>

</body>
</html>