<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title>Mostrando Compras</title>
</head>
<body>
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>
        <a href="/administrar" class="btn btn-primary">Volver al menú</a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li class="nav-link px-2 link-secondary">LavaMovil</li>
      </ul>

      <div class="col-md-3 text-end">
        <a href="/" class="btn btn-primary">Salir</a>
      </div>
    </header>
  </div>
  <div class="bd-example">
    <table class="table">
        <thead>
      <tr>
        <th>ID CLIENTE</th>
        <th>ID producto</th>
        <th>CANTIDAD</th>
        <th>TOTAL PAGADO</th>
        <th>FECHA</th>
        <th>IP cliente</th>

      </tr>
    </thead>
    <tbody>
      <tr>
        <% compra.forEach(compra => { %>
          <tr>
            <td><%= compra.cliente_id %></td>
            <td><%= compra.producto_id %></td> 
            <td><%= compra.cantidad %></td>
            <td><%= compra.total_pagado %></td> 
            <td><%= compra.fecha %></td>
            <td><%= compra.ip_cliente %></td> 
          <% }); %></td>


      </tr>
    </tbody>
  
    </table>
  </div>


</tbody>

</body>
</html>