<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
  <title>Mostrando Categorías</title>
</head>
<body>
  <div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <div class="col-md-3 mb-2 mb-md-0">
        <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
          <svg class="bi" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
        </a>
        <a href="/administrar" class="btn btn-primary">Volver al menú</a>
      </div>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li class="nav-link px-2 link-secondary">LavaMovil</li>
      </ul>

      <div class="col-md-3 text-end">
        <a href="/" class="btn btn-primary">Salir</a>
      </div>
    </header>
  </div>
  <div class="bd-example">
    <table class="table">
        <thead>
      <tr>
        <th>ID</th>
        <th>Url</th>
        <th>Producto ID</th>
        <th>destacado</th>
 
      </tr>
    </thead>
    <tbody>
      <tr>
        <% imagen.forEach(image => { %>
          <tr>
            <td><%= image.id %></td>
           <td> <img alt="5" width="210" height="130" src="<%=image.url%>"> </td>
            <td><%= image.producto_id%></td>
            <td><%= image.destacado %></td>
            <td><a href="/editima/<%=image.id%>" class="btn btn-dark">Editar</a>
              <a href="/deleteima/<%=image.id%>" class="btn btn-dark">Eliminar</a>
            </td>
          <% }); %></td>


      </tr>
    </tbody>
  
    </table>
  </div>

<a href="/insertima" class="btn btn-dark">Insertar Imagen</a>
</tbody>

</body>
</html>